{% extends '!layout.html' %}

{% block footer %}
<p>Need further assistance? We’re happy to help!</p>
<ul class="simple">
<li><p>:e-mail: <a class="reference external" href="mailto:umami-support&#37;&#52;&#48;nomadic-labs&#46;com">Send an e-mail to Umami support</a></p></li>
<li><p>:open_file_folder: <a class="reference external" href="https://gitlab.com/nomadic-labs/umami-wallet/umami/-/issues/new?issuable_template=support">Open a support issue on Gitlab</a></p></li>
<li><p>:speech_balloon: <a class="reference external" href="https://tezos-dev.slack.com/archives/C01TT28QR18">Ask your question on Umami Slack channel</a>
<br /></p></li>
</ul>
{% endblock %}


